In [2]:
import numpy as np
import pandas as pd
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import cross_validate

In [3]:
from sklearn.linear_model import LinearRegression

In [4]:
data=pd.read_csv(r"C:\Users\Emma\Downloads\heart.csv")

In [5]:
df=data.copy()
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [6]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [7]:
df.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [10]:
qualitative=[]
quantitative=[]

for feature in df.columns:
    if len(df[feature].unique()) <=8:
        qualitative.append(feature)
    else:
            quantitative.append(feature)

In [11]:
qualitative

['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal', 'target']

In [12]:
quantitative

['age', 'trestbps', 'chol', 'thalach', 'oldpeak']

In [13]:
qualitative.remove('target')
x=pd.get_dummies(df['sex'])

In [14]:
x.head()

   0  1
0  0  1
1  0  1
2  1  0
3  0  1
4  1  0

In [15]:
x.rename(columns={0:'Female',1:"Male"},inplace=True)

In [16]:
x.head()

   Female  Male
0       0     1
1       0     1
2       1     0
3       0     1
4       1     0

In [23]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [25]:
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,Female,Male
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1,0,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1,1,0
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1,0,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1,1,0

In [26]:
X=x.drop('sex',axis=1)

In [27]:
y=df['target']
X=X.drop('target',axis=1)

In [37]:
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.2,random_state=0)

In [38]:
model=LinearRegression().fit(X_train,y_train)
model.score(X_test,y_test)

0.4690443546615133

In [39]:
model2=GradientBoostingRegressor(random_state=0).fit(X_train,y_train)
model2.score(X_test,y_test)

0.4287891864098665

In [41]:
from sklearn import svm

In [46]:
model3=svm.SVC(kernel='linear', C=1)
model3.fit(X_train,y_train)
model3.score(X_test,y_test)

0.819672131147541

In [47]:
y_pred=model3.predict(X_test)

In [48]:
y_pred

array([0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1], dtype=int64)

In [50]:
y_pred=pd.DataFrame(y_pred)
y_pred

    0
0   0
1   1
2   1
3   0
4   0
.. ..
56  1
57  1
58  1
59  1
60  1

[61 rows x 1 columns]